<!DOCTYPE html>
<html lang="en">
        <%- include('../public/layouts/head') %>
    <body>
        <%- include('../public/layouts/header') %>
        <p> No results were found for your search request</p>
        <%- include ('../public/layouts/footer') %>
    </body>
</html>