<!DOCTYPE html>
<html lang="en">
    <%= include('../public/layouts/head') %>
    <body>
        <h1>Searches</h1>
        <form action="/results" method="POST">
            <input type="text" placeholder="Game Title" name="title">
            <input type="text" placeholder="Game Creator" name="creator">
            <button type="submit">SAVE THIS GAME</button>
        </form>
    </body>
    <%= include('../public/layouts/footer') %>
</html>