<!DOCTYPE html>
<html lang="en">
    <%- include('../../../public/layouts/head') %>
    <body>
        <h1>MY GAMES</h1>
        <% game.forEach((game) => { %>
            <%- include('homepage_game_partial.ejs', {game: game}) %>
        <% }) %>
        <%- include('../../../public/layouts/footer') %>
    </body>
</html>