<!DOCTYPE html>
<html lang="en">
    <%- include('../../../public/layouts/head') %>
    <body>
        <h1>MY GAMES</h1>
        <% games.forEach((game) => { %>
            <%- include('homepage_game_partial.ejs', {game: game}) %>
            <form action='/favorites?_method=DELETE' method='post'>
                <input type='hidden' name='remove_target' value='<%= game.id %>'/>
                <button type='submit'>Remove</button>
            </form>
        <% }) %>
        <%- include('../../../public/layouts/footer') %>
    </body>
</html>