<!DOCTYPE html>
<html lang="en">
<%- include('../../public/layouts/head') %>
<%- include('../../public/layouts/header.ejs') %>

<body>
    <%- include('../../public/layouts/aside.ejs') %>
    <article>
        <p>Sorry, something went wrong!<br>This is likely due to changes made in the Rawg API</p>
    </article>
    <%- include('../../public/layouts/footer') %>
</body>

</html>