
/* --space-cadet: #2b2d42ff;
--manatee: #8d99aeff;
--alice-blue: #edf2f4ff;
--imperial-red: #ef233cff;
--amaranth-red: #d90429ff; */

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: #2b2d42ff;
    margin: 0 auto;
    text-align: center;
}

img{
    width: 100%;
}

section{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EDF2F4;
    background: #730114;
    background: -webkit-linear-gradient(right, #730114, #D90529);
    background: -moz-linear-gradient(right, #730114, #D90529);
    background: linear-gradient(to left, #730114, #D90529);
    border-radius: 6px;
    box-shadow: 5px 10px 14px;
}

h1{
    font-size: 12vw;
    color: #edf2f4ff;
    font-family: 'Comic Dandy', sans-serif;
}


form input,form button{
    padding:0.8vw;
    font-size: 5vw;
    border: none;
    background: #edf2f4ff;
    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.20);
}

p{
    color: #edf2f4ff;
    margin: 2vw;
}

@media all and (max-width: 699px){
}



