
/* --space-cadet: #2b2d42ff;
--manatee: #8d99aeff;
--alice-blue: #edf2f4ff;
--imperial-red: #ef233cff;
--amaranth-red: #d90429ff; */

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    background-color:#d90429ff;
    color: #edf2f4ff;
    border:none;
    outline: none;
    border-radius: 3px;
    padding-left: 1vw;
}
body{
    background: #2b2d42ff;
    margin: 0 auto;
    text-align: center;
}

img{
    width: 100%;
}

section{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EDF2F4;
    background: #730114;
    background: -webkit-linear-gradient(right, #730114, #D90529);
    background: -moz-linear-gradient(right, #730114, #D90529);
    background: linear-gradient(to left, #730114, #D90529);
    border-radius: 6px;
    box-shadow: 5px 10px 14px;
}

h1{
    font-size: 12vw;
    color: #edf2f4ff;
    font-family: 'Comic Dandy', sans-serif;
}


form input,form button{
    padding:0.8vw;
    font-size: 5vw;
    border: none;
    background: #edf2f4ff;
    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.20);
}

p{
    color: #edf2f4ff;
    margin: 2vw;
}


@media (min-width:960px){

    aside{
        position: fixed;
        left: 0;
        width: 15vw;
        height:100%;
        background: #ef233cff;
        z-index: 1;
    }

    

    section{
        width: 17%; 
        margin: 3vw;
    }

    form input,form button{
        margin-top: 8vw;
        margin-bottom: 5vw;
        padding:0.8vw;
        border: none;
        background: #edf2f4ff;
        font-size: .8vw;
        box-shadow: none;
    }

    header{
        width: 100%;
        height: 20vh;
        position: fixed;
        font-size: .8vw;
        background: #8d99aeff;
    }

    .game_button{
        font-size: 1vw;
        margin:0;
    }
    .game_title{
        font-size: 2vw;
    }

    article{
        padding-top: 25vh;
        margin-left: 15vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    body{
        overflow-x: hidden;
    }
    
    .page{
        margin-top: 0px;
        display: inline-block;
    }

    #bottom{
        margin-left: 15vw;
    }

    footer{
        margin-left: 15vw;
    }

    select{
        width: 85%;
        margin-top:2vw;
    }
    #brand{
        margin-left: 15vw;
    }
}



