
/* --space-cadet: #2b2d42ff;
--manatee: #8d99aeff;
--alice-blue: #edf2f4ff;
--imperial-red: #ef233cff;
--amaranth-red: #d90429ff; */
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    background-color:#d90429ff;
    color: #edf2f4ff;
    border:none;
    outline: none;
    border-radius: 3px;
    padding-left: 1vw;
}
body{
    background: #2b2d42ff;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: rgba(86, 90, 132, .8);
    border: 1px solid white;
    border-radius: 1%;
    padding: 1%;
    font-size: 2.5vw;
    color: rgb(223, 219, 219);
}

.page, .page > button{
    margin: 0;
    margin-right: 5%;
    margin-bottom: 5%;
    display: inline-block;
}



img{
    width: 100%;
}

section{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #EDF2F4;
    background: #730114;
    background: -webkit-linear-gradient(right, #730114, #D90529);
    background: -moz-linear-gradient(right, #730114, #D90529);
    background: linear-gradient(to left, #730114, #D90529);
    border-radius: 6px;
    box-shadow: 5px 10px 14px;
    justify-content:space-between;
}

h1{
    font-size: 10vw;
    color: #edf2f4ff;
    font-family: 'Comic Dandy', sans-serif;
}


form input,form button{
    padding:.8vw;
    font-size: 5vw;
    border: none;
    background: #edf2f4ff;
    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.20);
}

p{
    color: #edf2f4ff;
    margin: 2vw;
}
.game_title {
    font-family: 'Death Star', sans-serif;
    margin-bottom: .3vw;
}
.game_titled {
font-family: 'Death Star', sans-serif;
margin-bottom: .3vw;
}

.favoritesButton{
    margin-bottom:5%;
}
.page, .page > button{
    font-size: 4vw;
    margin: 0;
    margin-right: 5%;
    margin-bottom: 5%;
    display: inline-block;
}

@media (min-width:960px){

.page, .page > button{
    font-size: 1.5vw;
}

    .youtube {
        height: 80vh;
    }

    .slideshow-container {
        min-height: 30vh;
    }
    
    aside{
        position: fixed;
        left: 0;
        width: 15vw;
        height:100%;
        background: #ef233cff;
        z-index: 1;
    }

    section{
        width: 17%; 
        margin: 3vw;
    }
    
    form input,form button{
        margin-top: 8vw;
        margin-bottom: 5vw;
        padding:0.8vw;
        border: none;
        background: #edf2f4ff;
        font-size: .8vw;
        box-shadow: none;
    }

    header{
        width: 100%;
        height: 20vh;
        position: fixed;
        font-size: .8vw;
        background: #8d99aeff;
    }
    
    .game_button{
        font-size: 1vw;
        margin:0;
    }
    .game_title{
        font-size: 2vw;
    }
    
    article{
        padding-top: 25vh;
        margin-left: 15vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    
    body{
        overflow-x: hidden;
    }

    #bottom{
        margin-left: 15vw;
    }

    footer{
        margin-left: 15vw;
        font-size: 1.5vw;
    }
    
    select{
        width: 85%;
        margin-top:2vw;
    }
    #brand{
        margin-left: 15vw;
    }

    .favoriteArticle{
        padding-top: 0px;
        min-height: 82vh;
    }
    .favoriteSection{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        background-color: none;
        width: 25%;
    }
    .favorites{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        box-shadow: none;
    }
    .favoritesButton{
        max-height: 1%;
        margin:5%;
        margin-left:0%;
    }
    .fa-trash{
        padding:0.55vw;
    }

    #detailPage > section {
        font-size: 1.5vw;
        line-height: 2.2vw;
    }
}



