
/* --space-cadet: #2b2d42ff;
--manatee: #8d99aeff;
--alice-blue: #edf2f4ff;
--imperial-red: #ef233cff;
--amaranth-red: #d90429ff; */
@media (max-width:959px){
    section{
    margin:5vw; 
    }

    select{
        width:45%;
        margin: 2vw 0px;
    }

    form input{
        width: 75%;
    }

        form button{
            width: 13.4%
        }
}

option:hover{
    background-color: rgb(255, 35, 71);
}

option:focus{
    background-color: rgb(255, 35, 71);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 1vw;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(167, 2, 21)
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 46, 81);
    border-radius: 50px
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 166, 181);
    cursor: pointer
  }

  textarea:focus, input:focus{
    outline: none;
}

h1{
    text-shadow: 
    1px 2px black, 
    2px 3px black,
    3px 4px black,
    4px 5px black,
    5px 6px black,
    6px 7px black,
    7px 8px black,
    8px 9px black;
}

.links{
    text-decoration: none;
    color: #edf2f4ff;
}

button:hover{
    color: #2b2d42ff;
    background-color: #edf2f4ff;
    cursor: pointer;
}

form button:hover{
    background-color:#ef233cff;
    color: #edf2f4ff;
}

#detailPage {
    padding-top: 2%;
    display: block;
}

#detailPage > h1 {
    font-size: 8vw;
    margin-bottom: 2%;
    background-color: rgba(86, 90, 132, .8);
    border: 3px solid white;
    border-radius: 15px;
    width: 85%;
    margin-left: 7.5%;
    padding: 2%;
}

.mySlides > video {
    width:100%;
}

/* select:focus{
    border:none;
} */

/* .dropdown{
        display: none;
        position: absolute;
        background-color: #edf2f4ff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
} */

/* .dropdown:hover .dropdown-content {
    display: block;
  } */


/*https://www.w3schools.com/howto/howto_js_slideshow.asp*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 90%;
  margin-left: 5%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

/* Next & previous buttons */
.prev {
    left: 0%;
}

.prev, .next {
    font-size: 2vw;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* end W3Schools snip */

#saveFavorite > fieldset > button{
    margin: 0;
    margin-top: 2%;
    border: 1px solid white;
    background-color: rgba(86, 90, 132, .8);
    font-size: 4.5vw;
    border-radius: 1.8vw;
}

#gameDetails, #dealDetails {
    width: 90%;
    margin-left: 5%;
    color: white;
    font-size: 3vw;
    font-family: 'Heebo', sans-serif;
    line-height: 4vw;
}

#dealDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.storeInfo {
    width: 35%;
    background: linear-gradient(to left, #eee, rgb(255, 166, 181));
    color: #730114;
    padding: 1%;
}

.game_button{
    width:100%;
    background-color: #d90429ff;
}

.homepage_item > form{

    width:100%;
}