<aside>

    <form action="/search" method="post">
        <fieldset>
            <input id="bar" type="text" name="search" placeholder="Search..." minlength="1" required><button><i id="mag" class="fas fa fa-search"></i></button>
        </fieldset>
    </form>
    <div class="dropdown">
        <a class="links" href="/favorites"><i class="fas fa fa-heart"></i></a>
        <a class="links" href="/"><i class="fas fa fa-home"></i></a>
    </div>
    <form class="filter" action='/' method='post'>
        <select id="platform" name="platform" multiple size=8>
            <option value="1">PC</option>
            <option value="2">Playstation</option>
            <option value="3">iOS</option>
            <option value="4">Android</option>
            <option value="5">xbox</option>
            <option value="6">Apple Macintosh</option>
            <option value="7">Linux</option>
            <option value="8">nintendo</option>
            <option value="9">atari</option>
            <option value="10">Commodore / Amiga</option>
            <option value="11">Sega</option>
            <option value="12">3DO</option>
            <option value="13">Neo Geo</option>
            <option value="14">Web</option>
        </select>
        <select id="genres" name="genres" multiple size=8>
            <option value="action">Action</option>
            <option value="indie">Indie</option>
            <option value="adventure">Adventure</option>
            <option value="role-playing-games-rpg">RPG</option>
            <option value="strategy">strategy</option>
            <option value="shooter">Shooter</option>
            <option value="casual">Casual</option>
            <option value="simulation">Simulation</option>
            <option value="puzzle">Puzzle</option>
            <option value="arcade">Arcade</option>
            <option value="platformer">Platformer</option>
            <option value="racing">Racing</option>
            <option value="sports">Sports</option>
            <option value="massively-multiplayer">Massively Multiplayer</option>
            <option value="fighting">Fighting</option>
            <option value="family">Family</option>
            <option value="board-games">Board Games</option>
            <option value="educational">Educational</option>
            <option value="card">Card</option>
        </select>
        <button id="filter" type='submit'>Filter</button>
    </form>
</aside>