<aside>
    <form action="/search" method="post">
        <fieldset>
            <input id="bar" type="text" name="search" placeholder="Search..." minlength="1" required><button><i id="mag" class="fas fa fa-search"></i></button>
        </fieldset>
    </form>
    <div class="dropdown">
        <a class="links" href="/favorites"><i class="fas fa fa-heart"></i></a>
        <a class="links" href="/"><i class="fas fa fa-home"></i></a>
    </div>
    <form class="filter" action='/' method='post'>
        <select id="platform" name="platform" multiple size=8>
            <option value="PC">PC</option>
            <option value="Playstion">Playstation</option>
            <option value="iOS">iOS</option>
            <option value="Android">Android</option>
            <option value="xbox">xbox</option>
            <option value="Apple Macintosh">Apple Macintosh</option>
            <option value="Linux">Linux</option>
            <option value="nintendo">nintendo</option>
            <option value="atari">atari</option>
            <option value="Commodore / Amiga">Commodore / Amiga</option>
            <option value="Sega">Sega</option>
            <option value="3DO">3DO</option>
            <option value="Neo Geo">Neo Geo</option>
            <option value="Web">Web</option>
        </select>
        <select id="genres" name="genres" multiple size=8>
            <option value="action">Action</option>
            <option value="indie">Indie</option>
            <option value="adventure">Adventure</option>
            <option value="role-playing-games-rpg">RPG</option>
            <option value="strategy">strategy</option>
            <option value="shooter">Shooter</option>
            <option value="casual">Casual</option>
            <option value="simulation">Simulation</option>
            <option value="puzzle">Puzzle</option>
            <option value="arcade">Arcade</option>
            <option value="platformer">Platformer</option>
            <option value="racing">Racing</option>
            <option value="sports">Sports</option>
            <option value="massively-multiplayer">Massively Multiplayer</option>
            <option value="fighting">Fighting</option>
            <option value="family">Family</option>
            <option value="board-games">Board Games</option>
            <option value="educational">Educational</option>
            <option value="card">Card</option>
        </select>
        <button type='submit'>Filter</button>
    </form>
</aside>