<header>
    <h1>GAME FINDER</h1>
    <nav>
        <i class="fas fa fa-bars">
            <div class="dropdown">
                <a class="links" href="/favorites">MY GAMES</a>
                <a class="links" href="/">NEW SEARCH</a>
            </div>
        </i>
    </nav>
</header>