<nav>
    <h1>TITLE
        <i class="fas fa fa-bars">
            <div class="dropdown">
                <a href="1">item 1</a>
                <a href="1">item 2</a>
                <a href="1">item 3</a>
                <a href="1">item 4</a>
            </div>
        </i>
    </h1>
</nav>
