<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.cdnfonts.com/css/comic-dandy" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/death-star" rel="stylesheet">
    <script src="https://use.fontawesome.com/51e1c352ce.js"></script>
    <title> RYS3-Tek </title>
</head>