<header>
    <h1>RYS3-Tek</h1>
    <nav>
        <a href = "/views/pages/games/game">MY GAMES</a>
        <a href = "/views/pages/searches/searchForm">NEW SEARCH</a>
        <a href = "/views/pages/searches/searchResults">SEARCH RESULTS</a>
    </nav>
</header>