<header>
    <h1>GAME FINDER</h1>
    <nav>
<<<<<<< HEAD
        <a class="links" href = "/views/pages/games/favorites">MY GAMES</a>
        <a class="links" href = "/views/pages/searches/searchForm">NEW SEARCH</a>
        <a class="links" href = "/views/pages/searches/searchResults">SEARCH RESULTS</a>
=======
        <a class="links" href = "/favorites">MY GAMES</a>
        <a class="links" href = "/">NEW SEARCH</a>
>>>>>>> 1ff9c9d4f8522cbf7fea394c589a8859f1c1a85d
    </nav>
</header>
